html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.toolbar {
    justify-content: end;
}

.toolbar > a {
    padding-right: 15px;
}

.date {
    text-align: end;
    color: #1976d2;
    font-weight: 600;
}
